body {
    /* direction: rtl; */
    text-align: right;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
}

title {
    /* direction: rtl; */
    font-size: 24px;
    margin-bottom: 20px;
}

.prompt-title {
    /* direction: rtl; */
    text-align: center;
}

.prompt-close {
    position: absolute;
    left: 10px;
    right: unset;
}
