
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url('./dialog/info.png') no-repeat center center fixed;
    background-size: cover;
    user-select: none;
    overflow: hidden;
    display: none;
}


.closeBtn {
    top: 4px;
    width: 40px;
    right: 0;
    left: auto;
    height: 28px;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.2);
}

.titleBar {
    height: 30px;
    width: 90%;
    position: absolute;
    -webkit-app-region: drag;
}

.playAudio {

    display: none;
}




